# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual env
venv/
.env

# DVC
*.dvc
.dvc/
data/
.cache/

# Jupyter
*.ipynb

# VS Code
.vscode/

# MLflow
mlruns/
mlartifacts/
# Ignore unnecessary files
.DS_Store
*.log
*.bak
.env
__pycache__/
.vscode/
